# python cache folders
*/__pycache__/*

# emacs extension files
*~
*#
#*

# extra install folders
build/
install/
dist/
atoMEC.egg-info/

# data / results files
*.csv

# Sphinx documentation
docs/_build/
docs/source/api/

# Jupyter Notebook
.ipynb_checkpoints