[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.20.3"
scipy = ">=1.6.3"
mendeleev = ">=0.7.0"
tabulate = ">=0.8.9"
pylibxc2 = ">=6.0.0"

[requires]
python_version = "3.8"
