[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.20.3"
scipy = ">=1.6.3"
mendeleev = ">=0.7.0"
tabulate = ">=0.8.9"
joblib = ">=1.0.1"
pylibxc = {file = "https://gitlab.com/libxc/libxc/-/archive/6.2.2/libxc-6.2.2.tar.gz"}

[requires]
python_version = "3.12"

[dev-packages]
pytest = ">=7.1.3"
pytest-cov = ">=4.0.0"
pytest-random-order = ">=1.0.4"
pytest-lazy-fixture = ">=0.6.3"
flake8 = ">=6.1.0"
pydocstyle = ">=6.3.0"
black = ">=23.11.0"
